
/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    text-decoration: none;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background: linear-gradient(-120deg, #076684 -40%, #0795c1);
    -webkit-background: linear-gradient(-120deg, #076684 -20%, #0795c1);
    background-attachment:fixed;
    font-family: 'Open Sans', sans-serif;
    /*font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;*/
    font-size:12px;
    margin:0px;
    padding:0px;
    width: 100vw;
    height: 100vh;
}

/* Portrait layout (default) */
.app {
    position:absolute;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-wrap: wrap;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    -webkit-transition: opacity 150ms ease-in-out;
    -moz-transition: opacity 150ms ease-in-out;
    -ms-transition: opacity 150ms ease-in-out;
    -o-transition: opacity 150ms ease-in-out;
    opacity: 1;
    z-index: 5;
}

.app > *{
    flex: 1 100%;
}

.logo {
    width: 166px;
    padding: 80px;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.hidden {
    opacity: 0;
    z-index: 0;
}

#app2 {
    background-color: white;
}

.main__wrapper{
  margin: 0 auto;
  max-width: 280px;
}
.grid{
  margin: 0 auto;
}
.brand{
  padding: 40px 30px 0;
}
.login{
  margin: 0 auto;
  width: 225px;
}
.btn__login{
  display: block;
  background: #076684;
  color: #fff;
  font-size: 18px;
  border: none; /* Take out with login FB API*/
  padding: 15px 0; /* Take out with login FB API*/
  margin: 35px auto;
  width: 225px;
}
.or__choice{
  color: #fff;
  display: block;
  position: relative;
  text-align: center;
}
.or__choice:before{
  content: "";
  background: white;
  height: 1px;
  position: absolute;
  left: 0;
  top: 7px;
  width: 90px;
}
.or__choice:after{
  content: "";
  background: white;
  height: 1px;
  position: absolute;
  right: 0;
  top: 7px;
  width: 90px;
}
.sign__up{
  color: #fff;
  display: block;
  font-size: 18px;
  margin: 10px auto;
  text-align: center;
}
.sale__choice{
  color: #e8e8e8;
  margin: 0 auto;
  text-align: center;
  width: 260px;
}
.sale__choice a{
  color: #f8991d;
  font-size: 14px;
  font-weight: 500;
}

/*
======== FEEDBACK LOGIN API FACEBOOK
*/

.welcome__app{
  color: #fff;
  margin: 30px 0 0;
  padding: 0;
}
.welcome__in p{
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}
.welcome__app .icon__security{
  margin: 0 auto;
  padding: 8% 30%;
}
.call__sign-up{
  display: block;
  text-align: center;
}
.call__sign-up{
  font-size: 18px;
  font-weight: 300;
}
.sign-up__masterpass {
    height: 20px;
}

/*
======= ACCOUNT KIT VALIDATE PHONE NUMBER
*/

.validate__phone{
  background: #fff;
  margin-top: -15px;
  padding: 20px 35px;
}
.validate__phone{
  color: #ccc;
  font-size: 16px;
}
.form__validate__phone input{
  color: #e8e8e8;
  font-size: 18px;
  font-weight: 300;
  border: none;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  width: 220px;
}
.form__validate__phone ::-webkit-input-placeholder{
  color:#e8e8e8;
}
.validate__phone__warn{
  color: #f8991d;
}
.btn__validate__phone{
  background: #aecb0e;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 12px;
  font-weight: 800;
  padding: 10px 12px;
  text-transform: uppercase;
}

/*
======= SUPPORT PAY CODE
*/

.bg--white{
  background: #fff;
  height: auto;
}
.main__header{
  padding: 15px 0;
}
.header__brand{
  margin: 25px auto 0;
  padding: 0 30%;
  width: 112px;
}
.barcode__generated p{
  font-size: 16px;
  text-align: center;
}
.main__barcode{
  margin: 10% auto;
  padding: 0 10%;
}
.main__footer{
  width: 100%;
}
.main__footer__navegation{
  background: #f9f9f9;
  height: 54px;
  border-top: 1px solid #f0f0f0;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.main__footer__navegation ul{
  list-style: none;
  padding: 6px 0 0;
}
.main__footer__navegation ul li{
  display: inline-block;
  padding: 0 5px;
  margin: 0 8px;
}

/*
====== FEEDBACK PAYMENT OK
*/

.feedback__payment{
  margin: 0 50px;
}
.feedback__payment--ok{
  margin: 0 15px;
}
.feedback__payment p{
  color: #0795c1;
  margin: 10px auto 10px;
  text-align: center;
  text-transform: uppercase;
}
.btn__payment--ok{
  background: #0795c1;
  border:none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  padding: 8px 10px 0;
  width: 44px;
  margin: 70px;
}
.recibo h4{
  color: #aecb0e;
  margin: 12px auto;
  font-size: 20px;
  text-align: center;
}
.block__recibo{
  display: block;
  clear: both;
}
.recibo__details{
  color: #076684;
  font-size: 14px;
  line-height: 24px;
}
.recibo__valor{
  margin: 0 auto;
  position: relative;
  width: 100%;
}
.left__f{
  float: left;
}
.right__f{
  float: right;
}
/*
===== FEEDBACK BADGE WIN
*/

.icon__feedback , .history__feedback{
  position: relative;
}

.icon__feedback:before{
  content: url(../img/icon_feed.png);
  position: absolute;
  top: -35px;
  left: 0;
}
.icon__feedback:after{
  background: #f8991d;
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  bottom: -16px;
  left: 15px;
  border-radius: 3px;
}

.history__feedback:before{
  content: url(../img/icon_feed-history.png);
  position: absolute;
  top: -35px;
  left: 0px;
}
.history__feedback:after{
  background: #076684;
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  bottom: -16px;
  left: 14px;
  border-radius: 3px;
}
.points__list__brand{
  float: left;
  padding-right: 10px;
}
.brand__points{
  border-bottom: 1px solid #ccc;
  margin: 15px 0;
  padding-bottom: 10px;
}
.brand__points:nth-child(3){
  border-bottom: 0;
}

.list__details h4{
  color: #076684;
  font-size: 18px;
  margin: 0;
  padding: 0;
}
.list__details span{
  color: #076684;
  font-size: 12px;
}
.star__rewards{
  display: block;
  padding: 5px 0;
}

/*********************/
.form__brand{
  margin: 0;
  padding: 0;
}
.form__brand .logo{
  padding: 0 25%;
  margin: 0;
  width: 50%;
}
.form__account{
  margin: 0 auto;
}
.spacer__put input{
  display: block;
  height: 25px;
  margin: 10px;
  width: 240px;
}
.spacer__put label{
  color: #fff;
  font-size: 12px;
}
